$color-primario: rgb(0, 140, 255);
$color-secundario: white;
$color-texto: rgb(170, 168, 168);
$color-overlay: rgba(0, 0, 0, 0.5);
$color-borde-azul: rgb(0, 140, 255);
$color-borde-gris: grey;
$color-borde-blanco: white;
